{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑文章</title>

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vs.css' %}">
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/edit.js' %}"></script>
</head>
<body>
{% csrf_token %}
<div class="input-group input-group-lg" id="upload-image-box">
  <input id="img-file" type="file" name="file"  class="form-control" style="display:inline">
{#    <span class="input-group-addon btn-primary" id="upload-image" style="color:#27ccc0"><a href="#" style="color:#999">上传</a></span>#}
    <span class="input-group-addon label label-primary"><a href="#">上传</a></span>
</div>
</body>
</html>