{% extends "blog/base.html" %}
{% load static %}

{% block otherblock %}
    <script type="text/javascript" src="{% static 'blog/slider_demo/lib/slider.js' %}"></script>
    <link href="{% static 'blog/slider_demo/lib/slider.min.css' %}" rel="stylesheet" type="text/css" />
	<!--引用相册脚本-->
    <script type="text/javascript" src="{% static 'blog/slider_demo/slider_demo.js' %}"></script>

{% endblock %}

{% block post-list %}
    {% if position == 'index' %}
        <div class="row slide1" id="slider1">
            <div id="slider"></div>
        </div>
    {% endif %}
{% for post in posts %}
<div class="row post-card">
    <h3 class="title-box"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <span class="label label-danger post-label hidden-xs hidden-sm"><a href="{% url 'blog:category-post' post.category_id %}">{{ post.category }}</a></span>
    </h3>
    <div class="row post-main">
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 post-img">
            <div class="thumbnail">
                <img src="{{ post.cover_image }}" alt="None" />
            </div>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-9">
            <p>{{ post.excerpt }}</p>
        </div>
    </div>
    <div class="row post-footer hidden-xs hidden-sm" id="{{ post.id }}">
        <div class="glyphicon glyphicon-user"><a href="#">{{ post.author.info.name }}</a></div>
        <div class="glyphicon glyphicon-time">{{ post.get_relative_time }}</div>
        <div class="glyphicon glyphicon-eye-open">{{ post.view_count }}浏览</div>
{#        <div class="glyphicon glyphicon-comment"><a href="#">{{ post.post_comments.count }}条评论</a></div>#}
{#        <div class="glyphicon glyphicon-share"><a href="#">分享</a></div>#}
{#        <div class="glyphicon glyphicon-star-empty" id="id-add-thank"><a href="#">{{ post.thanks }}感谢</a></div>#}
{#        <div class="glyphicon glyphicon-heart-empty"><a href="#">{{ post.likes }}喜欢</a></div>#}
{#        {% for tag in post.tags.all %}#}
{#            <span class="label label-danger tag-label"><a href="#">{{ tag }}</a></span>#}
{#        {% endfor %}#}
    </div>
</div>
{% endfor %}
{% endblock %}

