{% extends "blog/base.html" %}
{% load static %}

{% block otherblock %}
    <script type="text/javascript" src="{% static 'blog/slider_demo/lib/slider.js' %}"></script>
    <link href="{% static 'blog/slider_demo/lib/slider.min.css' %}" rel="stylesheet" type="text/css" />
	<!--引用相册脚本-->
    <script type="text/javascript" src="{% static 'blog/slider_demo/slider_demo.js' %}"></script>

{% endblock %}

{% block post-list %}
{% for post in posts %}
<div class="row post-card">
    <h3 class="title-box"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <span class="label label-danger post-label hidden-xs hidden-sm"><a href="{% url 'blog:category-note' post.category_id %}">{{ post.category }}</a></span>
    </h3>
    <div class="row post-main" style="margin-left:0">
        <div class="col-xs-6 col-md-9" style="width: 100%">
            <p>{{ post.excerpt }}</p>
        </div>

    </div>

    <div class="row post-footer" id="{{ post.id }}">
        {% if post.status != '正常' %}
            <div class="glyphicon glyphicon-info-sign"><a href="#">{{ post.status }}</a></div>
        {% endif %}
        <div class="glyphicon glyphicon-time">{{ post.created_time }}</div>
        <div class="glyphicon glyphicon-eye-open">{{ post.view_count }}浏览</div>
{#        <div class="glyphicon glyphicon-share"><a href="#">分享</a></div>#}
    </div>
</div>
{% endfor %}
{% endblock %}

